    * {
        box-sizing: border-box;
    }

@font-face{
    font-family: "Southwest Sans";
    src: url("/fonts/southwest_sans.eot");
    src: url("/fonts/southwest_sans.eot?#iefix")format("embedded-opentype"),
        url("/fonts/southwest_sans.woff")format("woff"),
        url("/fonts/southwest_sans.woff2")format("woff2"),
        url("/fonts/southwest_sans.ttf")format("truetype"),
        url("/fonts/southwest_sans.svg#Southwest Sans Bold")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        background: #000;
        font-family: Arial, sans-serif;
        overflow: hidden;
    }

    nav {
        background: #000011;
        /* background: #161925; */
        padding: 15px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        border-bottom: 2px solid #303436;
    }

    .nav-logo {
        height: 40px;
        /* display: flex; */
        /* justify-content: left; */
        flex-shrink:0;
        /* justify-content: center; */
        /* align-items: center; */
        /* cursor: pointer; */

    }

.nav-links {
font-family: "Southwest Sans";
display: flex;
justify-content: center;
flex: 1;
gap: 15px;
}

    nav a {
        color: #0f0;
        /* color: #dbd8d4; */
        text-decoration: none;
        margin: 0 10px;
        padding: 5px 10px;
        border-radius: 4px;
        transition: background 0.3s;
        display: inline-block;
        /* background-color: #000011; */
        background: #161925;
    }

    nav a:hover {
        background: rgba(0, 255, 0, 0.2);
    }

    #gameContainer {
        position: relative;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        min-height: 0;
    }

/* svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90vh;
  width: auto;
  height: auto;
} */

    canvas {
        border: 2px solid #303436;
        border-radius: 30px;
        background: #001;
        display: block;
        max-width: 100%;
        max-height: 100%;
    }

    #gameOver {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* color: #e8e6e3; */
        color: #dbd8d4;
        font-size: 48px;
        display: none;
        text-align: center;
        z-index: 10;
        border: 2px solid #303436;
        border-radius: 10px;
        padding: 10px;
        background-color: #161925;
    }

    @media (max-width: 768px) {
        nav a {
            font-size: 14px;
            margin: 0 5px;
            padding: 5px;
        }

        #gameOver {
            font-size: 32px;
        }
    }